//Identification Projet
page-identification-projet{
  .add-project-icon{
    color: #95c11f;
    font-size: 6em;
    margin: 0 auto;
  }
  .ion-card-project{
    max-height: 500px;
    margin: 0 auto;
  }
  .ion-card-new-projects{
    max-width: 200px;
    margin: 0 auto;
  }
  .form-customer{
    max-width: 350px;
  }
}



