<ion-content padding>

  <ion-card class="ion-card">

    <ion-grid class="ion-grid" >
      <ion-row>
        <ion-title text-center>PROJET</ion-title>
      </ion-row>
      <ion-row>
        <ion-title class="customer-name"text-center >{{client.nomClient}} {{client.prenomClient}}</ion-title>
      </ion-row>

      <ion-row class="ion-row" justify-content-center align-items-center>
        <ion-col col-md-6 col-xs-12>
          <div class="text-project" text-left></div>

          <ion-card class="ion-card-projects">
            <ion-card-header  class="add-customer">
             <div class="titre-projets" text-center>Vos Projets </div>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="haveProjet">
                <ion-card *ngFor="let projet of client.projets"  class="ion-card-project" (click)="detailsDevis(projet)">
                  <ion-card-content  class="add-customer" >

                    <div *ngIf="projet.etatDevis=== 1">
                      <div class="nom-projet-card">{{projet.nomProjet}}
                        <ion-icon  name="create" class="edit-icon" >
                        </ion-icon>
                      </div>
                    </div>
                    <div *ngIf="projet.etatDevis=== 2">
                        <div class="nom-projet-card">{{projet.nomProjet}}
                          <ion-icon  name="checkmark" class="edit-icon" >
                          </ion-icon>
                        </div>

                    </div>
                    <div *ngIf="projet.etatDevis=== 3">
                      <div class="nom-projet-card">{{projet.nomProjet}}
                        <ion-icon  name="time" class="edit-icon" >
                        </ion-icon>
                      </div>
                    </div>
                    <div *ngIf="projet.etatDevis=== 4">
                      <div class="nom-projet-card">{{projet.nomProjet}}
                        <ion-icon  name="close" class="edit-icon" >
                        </ion-icon>
                      </div>
                    </div>  <div *ngIf="projet.etatDevis=== 5">
                    <div class="nom-projet-card">{{projet.nomProjet}}
                      <ion-icon  name="basket" class="edit-icon" >
                      </ion-icon>
                    </div>
                  </div>  <div *ngIf="projet.etatDevis=== 6">
                    <div class="nom-projet-card">{{projet.nomProjet}}
                      <ion-icon  name="filing" class="edit-icon" >
                      </ion-icon>
                    </div>
                  </div>

                  </ion-card-content>
                </ion-card>
              </div>
              <div *ngIf="!haveProjet">
                AUCUN PROJET
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col text-center col-md-6 col-xs-12>

          <ion-card text-center class="ion-card-new-project" (click)="newProject()">
            <ion-card-header text-center class="add-customer">
              NOUVEAU PROJET
            </ion-card-header>
            <ion-icon  class="add-project-icon" name="book"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
