page-authentication {
  .background {
    background-image: url('../../assets/imgs/background.jpg');
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index:0;
    background-repeat: no-repeat;
  }
  .card{
    z-index:1;
    margin: 0px auto;
    left: 0px;
    right: 0px;
  }
  .img-logo{
   max-width: 100px;
  }
  .button{
    float: right;
  }
  .ion-card{
    max-width: 500px;
  }
  .ion-grid{
    height: 100%;
  }
  .ion-row
  {
    height: 100%;
  }
}
