page-authentication {
  .background {
    background-image: url('../assets/imgs/background.jpg');
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index:0;
    background-repeat: no-repeat;

  }
  .img-logo{
   max-width: 100px;
  }
  .button{
    float: right;
  }
  .authentication-card{
    max-width: 500px;
    margin: 0 auto;
  }

}
