 <ion-header>
  <ion-navbar text-center hideBackButton="true">
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <img src="./assets/imgs/logo.svg" class="img-logo" alt="Madera"/>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button mini ion-fab class="contact-icon">
      <ion-icon name="contact"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="disconnect()"><ion-icon name="exit"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>

    <ion-card-header text-center>
      <ion-icon name="arrow-back" (click)="pop()" float-start></ion-icon>
      <h2>CONCEPTION DE DEVIS</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-4 >
            <ion-item text-center text-sm-start>
              <p>Référence projet : {{global.projets.length}}</p>
            </ion-item>
            <ion-item text-center text-sm-start>
              <ion-label stacked>Adresse du projet</ion-label>
              <ion-input [(ngModel)]="projet.adresseProjet" text-center text-sm-start placeholder="Adresse projet" clearInput pattern="^[a-zA-Z0-9' ]{0,50}$"></ion-input>
            </ion-item>
            <ion-item text-center text-sm-start>
              <ion-label stacked>Date du projet</ion-label>
              <ion-datetime min="2018" max="2100" displayFormat="DD/MM/YYYY" [(ngModel)]="projet.dateProjet" placeholder="Date du projet" clearInput></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-0 col-sm-4></ion-col>
          <ion-col col-12 col-sm-4 text-center text-sm-end>
            <p>Référence client : {{client.referenceClient}}</p>
            <p>Mr. {{client.nomClient | uppercase }} {{client.prenomClient}}</p>
            <p>{{client.adresseRueClient}}</p>
            <p>{{client.codePostalClient}} {{client.adresseVilleClient}}</p>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-12 col-md-4>
            <ion-item>
              <ion-input text-center [(ngModel)]="projet.nomProjet" placeholder="Nom du projet" clearInput pattern="^[a-zA-Z0-9' ]{0,50}$"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col col-9>Gestion des produits</ion-col>
          <ion-col text-end col-3>
            <button ion-button icon-only class="button-add" (click)="presentAddProductModal()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="border text-bold" text-center>
            <button ion-button icon-only class="button-remove" (click)="removeAllProducts()" [disabled]="!projet.produits">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
          <ion-col class="border text-bold" text-center>
            Réf.
          </ion-col>
          <ion-col class="border text-bold" text-center>
            Dés.
          </ion-col>
        </ion-row>

        <div *ngIf="projet.produits && projet.produits.length > 0">
          <ion-row *ngFor="let produit of projet.produits">
            <ion-col class="border" text-center>
              <ion-buttons>
                <button ion-button icon-only class="button-remove" (click)="removeProduct(produit)">
                  <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-button icon-only (click)="presentDisplayProductModal(produit)">
                  <ion-icon name="eye"></ion-icon>
                </button>
              </ion-buttons>
            </ion-col>
            <ion-col class="border">
              {{ produit.modele.referenceModele }}
            </ion-col>
            <ion-col class="border">
              <button ion-item>
                {{ produit.modele.designationModele }}
              </button>
            </ion-col>
          </ion-row>
        </div>

        <ion-row>
          <ion-col col-12>
            <button ion-button color="green-madera" float-right [disabled]="checkIfNotValid()" (click)="goToDevisPage()">VALIDER</button>
            <button ion-button color="green-madera" float-right (click)="cancel()">ANNULER</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>
