page-identification-client {

  .add-customer-icon{
    color: color($colors, green-madera);
    font-size: 6em;
    margin: 0 auto;
  }

  .ion-card-new-customer{
    max-width: 200px;
    margin: 0 auto;
  }
  .form-customer{
    max-width: 350px;
    margin: 0 auto;
  }

}
