page-identification-client {

  .toolbar-title-md {
    color: color($colors, brown-madera);
  }

  .add-customer-icon{
    color: color($colors, green-madera);
    font-size: 6em;
    margin: 0 auto;
  }
  .toolbar-title-ios {
    color: color($colors, brown-madera);
  }

  .ion-card-new-customer{
    max-width: 200px;
    margin: 0 auto;
  }
  .form-customer{
    max-width: 350px;
    margin: 0 auto;
  }

  .alert-head{
    background-color:color($colors, green-madera);
    color:white;
  }

}
