<ion-header>
  <ion-card-header>
    <h2>Enregistrer en tant que brouillon ?</h2>
  </ion-card-header>
</ion-header>
<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <ion-icon name="create" class="brouillon-icon"></ion-icon>
      </ion-col>
      <ion-col col-12>
        <button ion-button color="green-madera" (click)="saveInBrouillons()" float-right>OUI</button>
        <button ion-button color="green-madera" (click)="goToIdentificationProjetPage()" float-right>NON</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
