// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  brown-madera: #683c11,
  green-madera: #95c11f,
  grey-madera: #999999,
  red-madera: #ff4c4c
);

// All Variables
// --------------------------------------------------
$text-color : color($colors, grey-madera);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Radio
$radio-ios-color-on : color($colors, green-madera);

// Datetime
$datetime-ios-placeholder-color : color($colors, grey-madera);

// Button
$button-ios-background-color-hover : color($colors, brown-madera);
$button-ios-background-color : color($colors, green-madera);
$button-ios-background-color-activated : color($colors, brown-madera);
$button-ios-text-color : white;

// Menu
$menu-ios-background : color($colors, green-madera);

// Label
$label-ios-text-color : color($colors, grey-madera);
$label-ios-text-color-focused : color($colors, grey-madera);

// Alert
$alert-ios-button-background-color : color($colors, green-madera);
$alert-ios-button-text-color : white;
$alert-ios-button-text-align : center;
$alert-ios-message-text-color : color($colors, grey-madera);
$alert-ios-button-group-justify-content : center;
$alert-ios-radio-label-text-color : color($colors, grey-madera);
$alert-ios-radio-label-text-color-checked : color($colors, grey-madera);

// Toolbar Button
$toolbar-ios-button-color : color($colors, green-madera);
$toolbar-ios-title-text-color : color($colors, brown-madera);

// Input
$text-input-ios-highlight-color : color($colors, grey-madera);

// Item
$item-ios-paragraph-text-color : color($colors, grey-madera);
$list-md-header-color : color($colors, grey-madera);

// Card
$card-ios-header-color: color($colors, brown-madera);
$card-ios-text-color: color($colors, grey-madera);

// List
$list-ios-border-color : transparent;

// Select
$select-ios-placeholder-color: color($colors, grey-madera);

// Popover
$popover-ios-text-color : color($colors, grey-madera);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Datetime
$datetime-md-placeholder-color : color($colors, grey-madera);
$picker-md-button-text-color: color($colors, green-madera);

// Radio
$radio-md-color-on : color($colors, green-madera);

// Button
$button-md-background-color-hover : color($colors, brown-madera);
$button-md-background-color : color($colors, green-madera);
$button-md-background-color-activated : color($colors, brown-madera);
$button-md-text-color : white;

// Fab
$fab-md-text-color: color($colors, green-madera);
$fab-md-list-button-text-color : color($colors, green-madera);
$fab-md-background-color : white;
$fab-md-list-button-background-color : white;

// Toolbar Button
$toolbar-md-button-color : color($colors, green-madera);
$toolbar-md-title-text-color : color($colors, brown-madera);

// Label
$label-md-text-color : color($colors, grey-madera);
$label-md-text-color-focused : color($colors, grey-madera);

// Input
$text-input-md-highlight-color : color($colors, grey-madera);

// Menu
$menu-md-background : color($colors, green-madera);

// Card
$card-md-header-color: color($colors, brown-madera);
$card-md-text-color: color($colors, grey-madera);

// List
$list-md-border-color : transparent;

// Alert
$alert-md-button-background-color : color($colors, green-madera);
$alert-md-button-text-color : white;
$alert-md-button-text-align : center;
$alert-md-message-text-color : color($colors, grey-madera);
$alert-md-button-group-justify-content : center;
$alert-md-radio-label-text-color: color($colors, grey-madera);
$alert-md-radio-label-text-color-checked: color($colors, grey-madera);

// Select
$select-md-placeholder-color: color($colors, grey-madera);
$picker-md-option-selected-color: color($colors, grey-madera);

// Popover
$popover-md-text-color : color($colors, grey-madera);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
