page-product {
    .header{
        display: inline-block;
    }

    .left-side
    {
        width:20%;
        display: inline-block;
    }

    .right-side{
        display: inline-block;
    }
}
