<ion-split-pane>
  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Conception de devis</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>-->
        <!--<input type="image" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" src="..\\assets\\imgs\\{{ p.img }}" value="{{ p.title }}"/>-->
        <div class="menu-item" *ngFor="let p of pages">
          <input type="image" menuClose ion-item (click)="openPage(p)" src="..\\assets\\imgs\\{{ p.img }}" value="{{ p.title }}"/>
          <span>{{ p.title }}</span>
        </div>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>