//MENU
ion-menu {
  ion-content{
    &.content-md{
      background-color: initial;
    }

    .page-link {
      color: white;
      background-color: initial;
      padding: 12px;

      img{
        max-width:100px;
        width:100px;

        path{
          fill:white;
        }
      }
    }

    .item-md,.item-ios{

      &.item-block .item-inner {
        border-bottom: 0;
      }
    }

    a.item-ios:not([detail-none]) .item-inner{
      background-image: none;
      padding-right: 0;
    }
  }
}

ion-content{
  .scroll-content{
    overflow:auto;
  }
}

.img-logo{
  max-width: 100px;
 }

.contact-icon, button-ios{
  background-color: inherit;

  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}

.contact-icon{
  background-color: inherit;

  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}

.contact-icon{
  &.activated{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: inherit;
  }
}

.border{
  border:solid 1px color($colors, grey-madera);
}

.text-color-green-madera{
  color : color($colors, green-madera);
}

.height-max{
  height:100%;
}

