//APP
.card-md ion-card-content{
  color: color($colors, grey-madera);

  p{
    color: color($colors, grey-madera);
  }
}

.content-ios {
  color: color($colors, grey-madera);
}

.item-ios {
  color: color($colors, grey-madera);
}

.card-header-md{
  color: color($colors, brown-madera);
}

.card-header-ios{
  color: color($colors, brown-madera);
}

ion-menu {
  ion-content{
    &.content-md,&.content-ios{
      background-color: color($colors, green-madera);
    }

    .page-link {
      color: white;
      background-color: initial;
      padding: 12px;

      img{
        max-width:100px;
        width:100px;

        path{
          fill:white;
        }
      }
    }

    .item-md,.item-ios{

      &.item-block .item-inner {
        border-bottom: 0;
      }
    }

    a.item-ios:not([detail-none]) .item-inner{
      background-image: none;
      padding-right: 0px;
    }
  }
}

.split-pane-md.split-pane-visible > .split-pane-side {
  top: 56px;
  min-width: 264px;
  max-width: 280px;
}

.imglogo{
  max-width: 100px;
 }
