<ion-header>
  <ion-toolbar text-center>
    <ion-buttons float-start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      NOUVEAU PRODUIT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Gamme</ion-label>
          <ion-select interface="popover" [(ngModel)]="product.gamme" okText="Ok" cancelText="Annuler">
            <ion-option *ngFor="let gamme of global.gammes" [value]="gamme">{{gamme.designationGamme}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col ngif="product.gamme && product.gamme.modeles && product.gamme.modeles.length > 0">
        <ion-item>
          <ion-label>Modèle</ion-label>
          <ion-select interface="popover" [(ngModel)]="product.modele" okText="Ok" cancelText="Annuler">
            <ion-option *ngFor="let modele of product.gamme.modeles" [value]="modele">{{modele.designationModele}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>Isolation</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.isolation" okText="Ok" cancelText="Annuler">
          <ion-option value="1">Synthètique</ion-option>
          <ion-option value="2">Naturelle</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Finition extérieure</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.finition" okText="Ok" cancelText="Annuler">
          <ion-option value="1">Bois</ion-option>
          <ion-option value="2">Crépis</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Couverture</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.couverture" okText="Ok" cancelText="Annuler">
          <ion-option value="1">Tuiles</ion-option>
          <ion-option value="2">Ardoises</ion-option>
        </ion-select>
      </ion-item>

      <img *ngIf="product.modele" src="./assets/imgs/modeles/{{product.modele.urlImageModele}}" width="100%" alt="Plan Modèle {{ product.modele.designationModele }}"/>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button [disabled]="checkIfNotValid()" (click)="addProduct()" float-right>VALIDER</button>
        <button ion-button (click)="dismiss()" float-right>ANNULER</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
