<ion-header>
  <ion-card-header>
    <h2>Ajout d'un produit</h2>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Gamme</ion-label>
          <ion-select [(ngModel)]="product.gamme">
            <ion-option *ngFor="let gamme of global.gammes" [value]="gamme">{{gamme.designationGamme}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col ngif="product.gamme.modeles.length > 0">
        <ion-item>
          <ion-label>Modèle</ion-label>
          <ion-select [(ngModel)]="product.modele">
            <ion-option *ngFor="let modele of product.gamme.modeles" [value]="modele">{{modele.designationModele}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Isolation</ion-label>
    <ion-select [(ngModel)]="product.isolation">
      <ion-option value="1">Synthètique</ion-option>
      <ion-option value="2">Naturelle</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Finition extérieure</ion-label>
    <ion-select [(ngModel)]="product.finition">
      <ion-option value="1">Bois</ion-option>
      <ion-option value="2">Crépis</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Couverture</ion-label>
    <ion-select [(ngModel)]="product.couverture">
      <ion-option value="1">Tuiles</ion-option>
      <ion-option value="2">Ardoises</ion-option>
    </ion-select>
  </ion-item>

  <img src="../../assets/imgs/modeles/{{product.modele.urlImageModele}}" width="100%" height="100%" alt="Plan Modèle {{ product.modele.designationModele }}"/>
  <button ion-button color="green-madera" (click)="addProduct()" float-right>VALIDER</button>
  <button ion-button color="green-madera" (click)="dismiss()" float-right>ANNULER</button>

</ion-content>
