<ion-header>
  <ion-navbar text-center hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="./assets/imgs/logo.svg" class="img-logo" alt="Madera"/>
    <ion-buttons end>
      <button ion-button icon-only class="contact-icon" (click)="presentPopover($event)">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <ion-card-header>
      <h2>Devis</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col col-12 col-sm-4 text-center text-sm-left>
            <p>Réf. projet : {{refProjet}}</p>
            <p>Date projet : {{projet.dateProjet}}</p>
            <p>{{projet.adresseProjet}}</p>
          </ion-col>
          <ion-col col-0 col-sm-4></ion-col>
          <ion-col col-12 col-sm-4 text-center text-sm-end>
            <p>Référence client : {{client.referenceClient}}</p>
            <p>Mr. {{client.nomClient | uppercase }} {{client.prenomClient}}</p>
            <p>{{client.adresseRueClient}}</p>
            <p>{{client.codePostalClient}} {{client.adresseVilleClient}}</p>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12 text-center>
            <p>{{projet.nomProjet}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 text-center>
            <strong>TOTAL HT : {{ totalHT }}</strong>
            <p>+ TVA {{global.tva}}% : {{(totalHT * global.tva) / 100}}€</p>
            <p>+ MARGE COM {{global.margeCommerciale}}% : {{(totalHT * global.margeCommerciale) / 100}}€</p>
            <p>+ MARGE ENT {{global.margeEntreprise}}% : {{(totalHT * global.margeEntreprise) / 100}}€</p>
            <strong>TOTAL TTC : {{ totalHT+ (totalHT * (global.tva + global.margeCommerciale + global.margeEntreprise) / 100) }}</strong>
            <br>
          </ion-col>
        </ion-row>

        <div *ngIf="null != projet.produits && projet.produits.length > 0">
          <ion-row *ngFor="let produit of projet.produits">
            <ion-col col-3>
              <ion-row>
                <ion-col class="border">
                  Réf. Modèle : {{ produit.modele.referenceModele }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="border">
                  Dés. Modèle : {{ produit.modele.designationModele }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-9>

              <ion-row>
                <ion-col class="border">
                  <p>Liste des modules</p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="border text-bold" text-center>
                  Réf.
                </ion-col>
                <ion-col class="border text-bold" text-center>
                  Dés.
                </ion-col>
                <ion-col class="border text-bold" text-center>
                  PU
                </ion-col>
                <ion-col class="border text-bold" text-center>
                  Qté
                </ion-col>
                <ion-col class="border text-bold" text-center>
                  Prix HT
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="border">
                  <p *ngFor="let module of produit.modele.modules">
                    {{ module.referenceModule }}
                  </p>
                </ion-col>
                <ion-col class="border">
                  <p *ngFor="let module of produit.modele.modules">
                    {{ module.designationModule }}
                  </p>
                </ion-col>
                <ion-col class="border">
                  <p *ngFor="let module of produit.modele.modules">
                    {{ module.prixHTModule }}€
                  </p>
                </ion-col>
                <ion-col class="border">
                  <p *ngFor="let module of produit.modele.modules">
                    {{ module.quantite }}
                  </p>
                </ion-col>
                <ion-col class="border">
                  <p *ngFor="let module of produit.modele.modules">
                    {{ module.quantite * module.prixHTModule }}€
                  </p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col class="border" text-end>
                  Total HT : {{calculateProduitTotalHT(produit.modele.referenceModele)}}€
                </ion-col>
              </ion-row>

            </ion-col>

          </ion-row>
        </div>

      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>
